:root{
  --FuentePrincipal: 'Inter', sans-serif;
  --BakcgroundColor: #F3F5FC;
  --ColorSecundario: #0A3871;
  --ColorTerciario: #FFFFFF;

  --ColorFuentePrimario: #343A40;
  --ColorFuenteSecundario: #495057;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-area{

  width: 577px;
  height: 48px;

  margin-top: 168px;
  margin-left: 240px;
  
}